/* ImageCarousel.css */
.carousel-container {
    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  